/* color */
:root {
  --primary-color: #007bff;
  --secondary-color: #ffc107;
  --background-color: #f8f9fa;
  --text-color: #212529;
  --text-secondary: #495057;
}

/* * {
  outline: 1px solid blue;
} */

/* body of the page */
body {
  font-family: "Arial", sans-serif;
  background-color: #041e2c;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  outline: 2px solid blue;
}

/* titles */
h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
  color: var(--primary-color);
}

/* Liens */
a {
  color: white;
  font-size: 1.1rem;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  background-color: #09e809;
  color: white;
  border: none;
  padding: .625rem 1.25rem;
  border-radius: .3125rem;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  transform: scale(1.03);
  background-color: #02a802;
}

/* header section */
.header-section {
  background-color: #041e2c;
  display: flex;
  justify-content: space-between;
  padding: .625rem 1.5625rem;
  position: relative;
  transition: all 0.3s ease;
  z-index: 1000;
}

.nav-container {
  flex: 1;
  text-align: start;
}

.logo-container {
  display: inline-flex;
  align-items: center;
  color: white;
  cursor: pointer;
}

/* logo-container */
.logo-container p {
  margin: 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.logo-container img {
  width: 2.5rem;
  border-radius: .3125rem;
  margin-left: .3125rem;
}

/* navbar-icon */
.navbar-icon {
  display: none;
  visibility: hidden;
}

.navbar-icon img {
  width: 3.125rem;
  height: auto;
  display: none;
}

/* nav-container */
.nav-container {
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 1.1rem;
  padding: 0;
}

.nav-list {
  display: flex;
  list-style: none;
  margin: 0;
  gap: 1.875rem;
}

.nav-list li {
  cursor: pointer;
  padding: .3125rem;
  transition: background-color 0.2s ease;
}

.nav-list li:hover {
  background-color: #55555556;
}

.dropdown-menu {
  list-style: none;
  position: absolute;
  top: 100%;
  right: 0;
  transform: translateY(100%);
  visibility: hidden;
  opacity: 0;
  background-color: #041e2c;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: .625rem 0;
  font-size: 1rem;
  box-sizing: border-box;
  color: #ffffff;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease,
    right 0.3s ease;
}

.dropdown-container.open .dropdown-menu {
  transform: translateY(0);
  visibility: visible;
  opacity: 1;
}

.dropdown-menu li {
  padding: .625rem .625rem;
  white-space: nowrap;
  transition: background-color 0.1s ease;
  margin: 0;
  display: flex;
  gap: .625rem;
  align-items: center;
  border-bottom: 1px solid #ffffff26;
}

.dropdown-menu li:hover {
  background-color: #5555553b;
}

.dropdown-trigger {
  color: white;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
}

.dropdown-trigger:after {
  content: "\25BC";
  margin-left: .5rem;
  transition: transform 0.3s ease;
}

.dropdown-container.open .dropdown-trigger:after {
  transform: rotate(180deg);
}

.country-color {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.9s ease, visibility 0.9s ease, transform 0.9s ease;
  transform: translateX(30%);
  padding-top: .3125rem;
}

.country-color.active-color {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

/* main-content */
.main-section {
  width: 100%;
  margin: auto;
}

.hero-section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: #0040623c;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  border-radius: 0;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1.25rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  color: white;
}

.hero-content p {
  font-size: 1.5rem;
  margin-bottom: 1.875rem;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.hero-buttons a {
  display: inline-block;
  padding: 0.9375rem 1.875rem;
  margin: 0 .625rem;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  border-radius: 25px;
  transition: background 0.3s ease;
  cursor: pointer;
}

.hero-buttons a.active {
  background: #c69500;
}

.hero-buttons .btn-primary {
  background: #007bff;
  position: relative;
}

.hero-buttons .btn-primary.active {
  background: #0056b3;
}

.hero-buttons .btn-secondary {
  background: var(--secondary-color);
  position: relative;
}

.hero-buttons .btn-secondary:hover {
  background: #c69500;
}

.spinner {
  display: none;
  width: 1.25rem;
  height: 1.25rem;
  border: 3px solid white;
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero-buttons a:hover {
  background: #0056b3;
}

/* advantages-section */
.advantages-section {
  padding: 3.75rem 1.25rem;
  background-color: #041e2c;
  text-align: center;
}

.advantages-section .container {
  max-width: 1200px;
  margin: 0 auto;
}

.advantages-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.advantages-section .section-description {
  font-size: 1.2rem;
  color: #ffffffd0;
  margin-bottom: 2.5rem;
}

.advantages-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.25rem;
}

.advantage {
  background-color: #0040623c;
  border: 1px solid #ddd;
  border-radius: .5rem;
  padding: 1.25rem;
  box-shadow: 0 4px 6px rgba(254, 253, 253, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  transform: scale(1);
}

.advantage:hover {
  transform: translateY(-5px);
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.advantage img {
  width: 3.75rem;
  margin-bottom: 0.9375rem;
  border-radius: 50% 1px;
}

.advantage h3 {
  font-size: 1.5rem;
  margin-bottom: .625rem;
  color: #fff;
}

.advantage p {
  font-size: 1rem;
  color: #fff;
}

/* vpn choise */
.npv-section {
  background-color: #041e2c;
  text-align: center;
  line-height: 1.2;
}

.npv-section .container::-webkit-scrollbar {
  display: none;
}

.npv-content:hover {
  transform: scale(1.01);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.npv-section .container-cont {
  width: 100%;
  position: relative;
  padding: .3125rem 0;
}

.container-cont h3 {
  font-size: 1.8rem;
  margin-bottom: 1.875rem;
}

.npv-section .container::-webkit-scrollbar {
  display: none;
}

.npv-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.npv-section .desciption-section {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 2.5rem;
  padding: 0.9375rem;
}

.npv-section .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
  gap: 1.25rem;
  justify-content: start;
  max-width: 1200px;
  margin: 50px auto;
  margin-top: 0;
  padding: 1.25rem;
  grid-auto-flow: dense;
  max-height: 500px;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  background-color: rgb(5, 13, 20);
}

.npv-content {
  background-color: #022031;
  border: 1px solid #dddddd4f;
  border-radius: .5rem;
  padding: 0.5rem;
  padding-bottom: 0;
  box-shadow: 0 4px 6px rgba(245, 243, 243, 0.1);
  line-height: 1.1;
  transition: transform .2s ease;
}

.npv-content h3 {
  font-size: 1.5rem;
  margin: 0;
  margin-bottom: 0.625rem;
  color: #fff;
}

.npv-content p {
  font-size: 1rem;
  color: #ffffffd0;
  margin: 0.5rem 0;
}

.npv-content img {
  max-width: 80px;
  border-radius: 1px 20%;
}

.npv-content ul {
  text-align: start;
  list-style: none;
  width: 100%;
  padding-left: 0;
  line-height: 1.4;
  margin: 0;
  margin-top: 0.625rem;
  color: #fff;
}

.npv-content ul li {
  font-size: 0.9rem;
}

.npv-content ul li:nth-child(2) span {
  color: #f8f80f;
}

.npv-section .container-cont:nth-child(6) ul li:nth-child(2) span {
  color: #02e002;
}

/* .npv-content ul li span, */
.npv-content ul li a {
  margin-left: .625rem;
  font-size: 0.9rem;
  color: #f8f80f;
  text-decoration: underline;
  transition: text-decoration 0.2s ease, color 0.2s ease;
}

.npv-content ul li a:hover {
  text-decoration: none;
  color: #cfcf07;
}

.npv-content ul li span {
  margin-left: .625rem;
  font-size: 0.9rem;
}

.btn-container {
  margin-top: 1rem;
}

.btn-container a {
  background-color: #02e002;
  padding: 0.5rem 1.5625rem;
  font-size: 0.9375rem;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.btn-container a:hover {
  background-color: #02a802;
}

/* cta-section */
.cta-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  color: #fff;
  border-radius: .625rem;
  margin: 0 .625rem;
  width: 95%;
  margin: auto;
  box-sizing: border-box;
  gap: 25px;
  background-color: #0040623c;
  /* border: 1px solid #dddddd4f; */
}

.cta-content {
  max-width: 60%;
}

.cta-content h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #f8f9fa;
}

.cta-button {
  padding: 0.8rem 1.5rem;
  background: var(--secondary-color);
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: .3125rem;
  transition: background 0.3s ease;
  cursor: pointer;
  position: relative;
}

.cta-button:hover,
.cta-button.active {
  background: #c69500;
}

.cta-image img {
  max-width: 350px;
  height: auto;
  border-radius: .625rem;
  opacity: 0.7;
}

/* Conteneur du canvas */
#globet {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  opacity: 0.4;
}

/* Canvas */
#globet canvas {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* mission */
.mission-section {
  background: linear-gradient(135deg, #041e2c, #004062); /* Dégradé élégant */
  padding: 4rem 2rem;
  color: #fff;
  border-radius: .625rem;
  box-shadow: 0 4px .5rem rgba(0, 0, 0, 0.2);
}

.mission-section .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; /* Espace entre le texte et les images */
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.mission-text {
  flex: 1;
  max-width: 50%; /* Le texte occupe 50% de la largeur */
  text-align: left;
}

.mission-text h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
  color: #ffffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.mission-text p {
  font-size: 1.2rem;
  line-height: 1.8;
  color: #f8f9fa;
  margin-bottom: 2rem;
}

.img-content {
  flex: 1;
  max-width: 45%; /* Les images occupent 45% de la largeur */
  display: flex;
  gap: 1rem; /* Espace entre les images */
  overflow-x: scroll; /* Permet le défilement horizontal */
  scroll-snap-type: x mandatory; /* Active le snap pour un défilement fluide */
  padding: 1rem 0;
  scrollbar-width: none; /* Cache la scrollbar pour Firefox */
}

.img-content::-webkit-scrollbar {
  display: none; /* Cache la scrollbar pour Chrome, Safari */
}

.img-content img {
  flex: 0 0 80%; /* Chaque image occupe 80% de la largeur du conteneur */
  max-width: 100%;
  border-radius: .625rem;
  box-shadow: 0 4px .5rem rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  scroll-snap-align: center; /* Aligne chaque image au centre lors du défilement */
}

.img-content img:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* advantages-section */
.adv-section {
  background-color: #041e2c;
  padding: 50px 1.25rem;
}

.adv-section h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.875rem;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.adv-section .content {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
}

.adv-section .adves,
.adv-section .disadves {
  background-color: #0040623c;
  border: 1px solid #dddddd4f;
  box-shadow: 0 4px .5rem rgba(155, 154, 154, 0.1);
  border-radius: .5rem;
  padding: 1.25rem;
  width: 100%;
  max-width: 400px;
}

.adv-section .adves h3,
.adv-section .disadves h3 {
  font-size: 1.8rem;
  margin-bottom: 0.9375rem;
}

.adv-section ul {
  list-style-type: disc;
  margin: 0;
  padding: 0 1.25rem;
}

.adv-section li {
  font-size: 1.1rem;
  color: #fff;
  margin-bottom: .625rem;
  line-height: 1.5rem;
}

/* installation-container */
.installation-guide {
  padding: 2.5rem 1.25rem;
  background-color: #041e2c;
  border-radius: .625rem;
  box-shadow: 0 4px .5rem rgba(203, 201, 201, 0.1);
  margin: 0 auto;
  text-align: center;
  line-height: normal;
}

.installation-guide h2 {
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  color: #ffffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.installation-guide p {
  font-size: 1rem;
  color: #fff;
  margin-bottom: 1.875rem;
}

.installation-steps {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.25rem;
}

.step {
  background-color: #0040623c;
  /* border: 1px solid #dddddd4f; */
  padding: 1.25rem;
  border-radius: .5rem;
  box-shadow: 0 2px 6px rgba(199, 199, 199, 0.1);
}

.step h3 {
  font-size: 1.5rem;
  margin-bottom: .625rem;
  text-align: left;
}

.step p {
  font-size: 0.95rem;
  color: #fff;
  margin-bottom: 0.9375rem;
  text-align: left;
}

.step img {
  width: 95%;
  height: 400px;
  border-radius: .3125rem;
  box-shadow: 0 2px 4px rgba(218, 217, 217, 0.1);
  object-fit: contain;
  border-radius: .625rem;
  background: linear-gradient(135deg, #343a3c, #0099cc);
}

/* Effet au survol  */
.step:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px .625rem rgba(250, 248, 248, 0.2);
}

/* fat-section */
.fat-section {
  padding: 2.5rem 1.25rem;
  border-radius: .625rem;
  max-width: 1200px;
  margin: 0 auto;
}

.fat-section h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.875rem;
  color: #ffffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.faq-container {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}

.faq-item {
  background-color: #fff;
  border-radius: .5rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
}

.faq-item:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.fat-question {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.9375rem;
  border: none;
  cursor: pointer;
  text-align: left;
  outline: none;
}

.fat-question:hover {
  background-color: #0056b3;
  font-size: 1.2rem;
}

.faq-answer {
  padding: 0 0.9375rem;
  font-size: 1rem;
  color: #555;
  border-top: 1px solid #ddd;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

/* Afficher la réponse lorsqu'elle est active */
.faq-item.active .faq-answer {
  max-height: 12.5rem;
  padding: 0.9375rem;
}

/* testimonials-section */
.testimonials-section {
  padding: 50px 1.25rem;
  text-align: center;
  background-color: #0040623c;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1.875rem;
  color: #fff;
}
/* Témoignages */
.testimonials-slider {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: center;
}

.testimonial {
  flex: 0 0 100%;
  max-width: 400px;
  opacity: 0;
  transition: opacity 0.5s ease;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #f0f4f8;
  border-radius: .625rem;
}

.testimonial.active {
  opacity: 1;
  position: relative;
}

.testimonials-text {
  font-size: 1.2rem;
  line-height: 1.5;
  color: #555;
  margin-bottom: 1.25rem;
}

.testimonials-author {
  font-size: 1rem;
  font-weight: bold;
  color: #111;
}

/* Boutons de navigation */
.stider-controls {
  margin-top: 1.25rem;
}

.stider-controls button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: .625rem 0.9375rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: .3125rem;
  margin: 0 .625rem;
  transition: background-color 0.3s ease;
}

.stider-controls button:hover {
  background-color: #0056b3;
}

/* contact-section */
.contact-section {
  width: 100%;
}

.contact-section h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1.875rem;
  color: #ffffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.conctact-container {
  display: flex;
  justify-content: center;
  padding: .625rem;
  border-radius: .625rem .625rem 0 0;
  background-color: #0040623c;
}

.channel-content button {
  padding: 1rem 4rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: #ffc107;
  margin-bottom: 1.875rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.channel-content button:hover {
  background-color: #ff9500;
  transform: translateY(-5px);
}

.forum-content {
  display: flex;
  flex-direction: column;
  padding: 0.9375rem;
  padding-top: 0;
  gap: .625rem;
  align-items: left;
  justify-content: center;
}

.forum-content a {
  display: inline-flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 1.25rem;
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-radius: .625rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.forum-content a:hover {
  background-color: #0056b3;
  transform: scale(1.03);
}

.forum-content a svg {
  color: #ffff;
  width: 2rem;
}

.images-cont,
.channel-content {
  flex: 1;
}

.images-cont img {
  width: 100%;
  height: 100%;
  border-radius: .3125rem;
  opacity: 0.9;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.images-cont img:hover {
  transform: scale(1.02);
}

/* footer */
footer {
  text-align: center;
  padding: .625rem;
  background-color: #041e2c;
  color: #fff;
}

@media (max-width: 767.5px) {
  .nav-list {
    gap: 1.25rem;
  }

  .whole-step {
    flex-direction: column;
    gap: 0;
  }

  .hero-buttons a {
    margin: .625rem;
  }

  .mission-images {
    gap: 0.9375rem;
    padding: 0 1.25rem;
  }

  .header-section {
    position: relative;
    padding: .625rem 0.9375rem;
  }

  .cta-section {
    align-items: center;
    padding: 1rem;
    color: #fff;
    border-radius: .625rem;
    margin: 0 0.9375rem;
    width: 95%;
    margin: auto;
    box-sizing: border-box;

    flex-direction: column;
  }

  .cta-content {
    max-width: 100%;
  }

  .mission-section {
    padding: 2rem;
  }

  .mission-section .container {
    flex-direction: column;
  }

  .mission-text {
    max-width: 90%;
  }

  .img-content {
    max-width: 70%;
  }
}

@media (max-width: 525px) {
  .dropdown-menu {
    top: 50px;
  }

  .navbar-icon {
    display: inline-block;
    visibility: visible;
  }

  #icon {
    color: #ffffff;
  }

  .nav-list {
    visibility: hidden;
    opacity: 0;
    flex-direction: column;
    padding-right: 0;
    gap: 3px;
    top: 0px;
    right: 0;
    width: 30%;
    position: absolute;
    background-color: #041e2c7f;
    padding: .625rem 0;
    padding-left: .625rem;
    font-size: 1rem;
    transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
  }

  .nav-list.active {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }

  .nav-list li {
    margin-right: 0;
    border-bottom: 1px solid #fff;
  }

  .npv-section .container {
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr));
  }

  .npv-content h3 {
    font-size: 1.2rem;
  }

  .npv-content p {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .country-color {
    display: none;
  }

  .header-section {
    padding: 0.9375rem;
    padding-left: .5rem;
  }

  .logo-container p {
    font-size: 1.05rem;
  }

  .dropdown-trigger:after {
    font-size: 16px;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .hero-section {
    height: 70vh;
  }

  /* .cta-button {
    font-size: 0.9rem;
    padding: 10px 20px;
  } */

  .mission-section {
    padding: 1rem;
  }

  .mission-text {
    max-width: 95%;
  }

  .img-content {
    max-width: 95%;
  }

  .conctact-container {
    flex-direction: column;
    border-radius: .625rem .625rem 0 0;
  }

  .cta-image img {
    width: 250px;
    height: auto;
    border-radius: .625rem;
  }

  .hero-buttons a {
    padding: .625rem 1.875rem;
  }

  .adv-section h2,
  .advantages-section h2,
  .fat-section h2,
  .contact-section h2 {
    font-size: 2rem;
  }

  .adv-section {
    padding: 2.5rem 0.9375rem;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .cta-section {
    width: 100%;
  }

  .modal {
    width: 95%;
  }

  .rotating-globe {
    max-width: 100%;
  }

  .npv-section .container {
    grid-template-columns: repeat(auto-fill, minmax(11.25rem, 1fr));
    gap: 1rem;
  }

  .npv-content h3 {
    font-size: 1rem;
  }

  .npv-content p {
    font-size: 0.8rem;
  }
}

@media (max-width: 415px) {
  .npv-section .container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    max-height: none;
    padding: 1.25rem 1rem;
  }

  .npv-content {
    min-width: 200px;
    max-width: 200px;
  }
}

@media (max-width: 310px) {
  .advantages-grid,
  .installation-steps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 1.25rem;
  }
}
